
@import "include/palette_material.scss";

$color_offset: 						#121212;
$color_offset2:						#232323;
$color_offset3:						#343434;
$color_offset4:						#454545;

$bg_header_bar: 					$c_green;
$label_header_bar:		 			$c_white_green;

$bg_terminal_pane: 					$c_white_green_d;

$bg_stack_switcher:					$c_green;
$bg_stack_switcher_button:			$c_white_green;
$bg_stack_switcher_button_h:		$c_white_green - $color_offset;
$bg_stack_switcher_button_act:		$c_green;
$bg_stack_switcher_scrollbar: 		$c_green;
$bg_stack_switcher_scrollbar_act:	$c_green;
$label_stack_switcher_button:		$c_black_l;
$label_stack_switcher_button_h:		$c_black_l;
$label_stack_switcher_button_act:	$c_white_green;

$bg_shortcut_button:				$c_green;
$bg_shortcut_button_h:				$c_green - $color_offset;

$bg_scrollbar:						$c_cyan;
$scrollbar_border:					$c_lime;

$bg_menu_buttons: 					$c_green;
$bg_menu_buttons_h:					$c_green - $color_offset;
$bg_menu_buttons_c:					$c_green - $color_offset;
$label_menu_buttons: 				$c_white_green;

$bg_popover_menu: 					$c_green;
$bg_theme_submenu: 					$c_green;
$bg_check_theme_submenu: 			$c_green + $color_offset2;
$bg_check_theme_submenu_act: 			$c_green + $color_offset4;
$item_theme_submenu_h:				$c_green - $color_offset;
$label_theme_submenu: 				$c_white_green;
$label_theme_submenu_h:				$c_white_green;
$label_theme_submenu_act:			$c_white_green;


@import "include/main.scss";

