
@import "include/palette_solarized.scss";

$color_offset: 						#121212;
$color_offset2:						#232323;
$color_offset3:						#343434;
$color_offset4:						#454545;

$bg_header_bar: 					$c_base3;
$label_header_bar: 					$c_base00;

$bg_terminal_pane: 					$c_base2;

$bg_stack_switcher:					$c_base3;
$bg_stack_switcher_button:			$c_base3;
$bg_stack_switcher_button_h:		$c_base3 - $color_offset;
$bg_stack_switcher_button_act:		$c_cyan;
$bg_stack_switcher_scrollbar: 		$c_cyan;
$bg_stack_switcher_scrollbar_act:	$c_cyan;
$label_stack_switcher_button:		$c_base00;
$label_stack_switcher_button_h:		$c_base00;
$label_stack_switcher_button_act:	$c_base3;

$bg_shortcut_button:				$c_base3;
$bg_shortcut_button_h:				$c_base3 - $color_offset;

$bg_scrollbar:						$c_cyan;
$scrollbar_border:					$c_violet;

$bg_menu_buttons: 					$c_base3;
$bg_menu_buttons_h:					$c_base3 - $color_offset;
$bg_menu_buttons_c:					$c_base3 - $color_offset;
$label_menu_buttons: 				$c_base00;

$bg_popover_menu: 					$c_base3;
$bg_theme_submenu: 					$c_base3;
$bg_check_theme_submenu:			$c_base3 - $color_offset2;
$bg_check_theme_submenu_act: 		$c_base3 - $color_offset4;
$item_theme_submenu_h:				$c_base3 - $color_offset;
$label_theme_submenu: 				$c_base00;
$label_theme_submenu_h:				$c_base00;
$label_theme_submenu_act:			$c_base00;


@import "include/main.scss";

