#header_bar {
  background-color: #4caf50;
  background-image: none;
  box-shadow: none;
  border-width: 0px; }
  #header_bar label {
    color: #424242;
    text-shadow: none; }
    #header_bar button {
      background-color: #4caf50;
      background-image: none;
      box-shadow: none;
      border-width: 1px;
      border-radius: 3px;
      border-color: #4caf50;
      -gtk-icon-shadow: none;
      -gtk-icon-effect: none; }
      #header_bar button label {
        color: #424242;
        text-shadow: none; }
        #header_bar button:hover {
          -gtk-icon-effect: dim; }
          #header_bar button:active {
            background-color: #3a9d3e;
            border-color: #3a9d3e; }
            #header_bar button:checked {
              background-color: #3a9d3e;
              border-color: #3a9d3e; }

#popover_menu {
  background-color: #4caf50;
  border-width: 1px;
  border-radius: 3px;
  border-color: #4caf50; }
  #popover_menu button {
    background-color: #4caf50;
    background-image: none;
    box-shadow: none;
    border-width: 1px;
    border-radius: 3px;
    border-color: #4caf50;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none; }
    #popover_menu button label {
      color: #424242;
      text-shadow: none; }
      #popover_menu button:hover {
        background-color: #3a9d3e;
        border-color: #3a9d3e; }
        #popover_menu button:checked {
          background-color: #3a9d3e;
          border-color: #3a9d3e; }

#theme_submenu {
  background-color: #4caf50;
  border-width: 1px;
  border-radius: 3px;
  border-color: #4caf50; }
  #theme_submenu checkbutton {
    background-color: #4caf50;
    background-image: none;
    box-shadow: none;
    border-width: 0px;
    padding: 2px 4px; }
    #theme_submenu checkbutton label {
      color: #424242;
      text-shadow: none; }
      #theme_submenu checkbutton check {
        background-color: #6fd273;
        background-image: none;
        box-shadow: none;
        border-width: 1px;
        border-radius: 3px;
        border-color: #6fd273;
        -gtk-icon-source: none;
        -gtk-icon-shadow: none;
        -gtk-icon-effect: none;
        animation: none; }
        #theme_submenu checkbutton check:active {
          background-color: #91f495; }
          #theme_submenu checkbutton check:checked {
            -gtk-icon-source: -gtk-scaled(url("/_/src/python/termm/termm/icons/assets/checkbox-checked_dark.svg"));
            animation: check_check 300ms;
            transition: 200ms linear; }
    #theme_submenu checkbutton:hover {
      background-color: #3a9d3e;
      border-width: 1px;
      border-radius: 3px;
      border-color: #3a9d3e; }
      #theme_submenu checkbutton:hover label {
        color: #424242; }
    #theme_submenu checkbutton:active label {
      color: #424242; }
    #theme_submenu checkbutton:checked label {
      color: #424242; }

#terminal_pane {
  background-color: #303030; }

  scrolledwindow overshoot {
    background-image: none; }
    scrolledwindow undershoot {
      background-image: none; }

#scrolled_window_stack_switcher {
  border-width: 0px; }
  #scrolled_window_stack_switcher scrollbar {
    background-image: none;
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
    margin: 0px; }
    #scrolled_window_stack_switcher scrollbar slider {
      background-image: none;
      background-color: #4caf50;
      border-width: 0px;
      padding: 0px;
      margin: 0px;
      -GtkRange-slider-min-width: 6px; }
      #scrolled_window_stack_switcher scrollbar slider:active {
        background-color: #4caf50; }

.overlay-indicator {
  background-color: transparent;
  border-width: 0px; }

  #stack_switcher {
    background-color: #4caf50;
    background-image: none;
    box-shadow: none;
    border-width: 0px; }

    #stack_switcher_button {
      background-color: #424242;
      background-image: none;
      min-width: 24px;
      min-height: 24px;
      box-shadow: none;
      border-width: 0px;
      border-radius: 0px;
      -gtk-icon-shadow: none;
      -gtk-icon-effect: none; }
      #stack_switcher_button label {
        color: #f1f8e9;
        text-shadow: none; }
        #stack_switcher_button:hover {
          background-color: #303030;
          color: #f1f8e9; }

#stack_switcher_button_active {
  background-color: #4caf50;
  background-image: none;
  min-width: 24px;
  min-height: 24px;
  box-shadow: none;
  border-width: 0px;
  border-radius: 0px; }
  #stack_switcher_button_active label {
    color: #424242;
    text-shadow: none; }

#shortcut_box button {
  background-color: #4caf50;
  background-image: none;
  min-width: 24px;
  min-height: 24px;
  box-shadow: none;
  border-width: 0px;
  border-radius: 0px;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  animation: none;
  -gtk-icon-source: -gtk-scaled(url("go-top-symbolic")); }
  #shortcut_box button:hover {
    animation: test-gradient 500ms linear infinite; }

@keyframes test-gradient {
  from {
    background-color: #4caf50;   }
    to {
      -gtk-icon-transform: rotate(1turn);
      background-color: #3a9d3e;   }
}
