/*
	The colors are based on this palette: https://www.google.com/design/spec/style/color.html#color-color-palette
	Here is the list of abbreviations in the variables names:
	"c_" = "color"
	"_l" = "light"
	"_d" = "dark"
	"_a" = "accent"
	"bg_"= "background"
	"fg_"= "foreground"
*/

@define-color c_yellow 		#FFEB3B;
@define-color c_yellow_d	#FFC107;
@define-color c_orange 		#FF9800;
@define-color c_orange_d 	#FF5722;
@define-color c_red 		#F44336;
@define-color c_magenta		#E91E63;
@define-color c_purple	 	#9C27B0;
@define-color c_purple_d 	#673AB7;
@define-color c_indigo	 	#3F51B5;
@define-color c_blue 		#2196F3;
@define-color c_blue_l 		#03A9F4;
@define-color c_cyan 		#00BCD4;
@define-color c_teal 		#009688;
@define-color c_teal_d 		#007668;
@define-color c_green 		#4CAF50;
@define-color c_green_l		#8BC34A;
@define-color c_lime 		#CDDC39;
@define-color c_black 		#212121;
@define-color c_white_green	#F1F8E9;
@define-color c_white		#FAFAFA;

@define-color bg_header_bar 						@c_green;
@define-color label_header_bar		 				@c_white_green;

@define-color bg_terminal_pane 						@c_red;

@define-color bg_stack_switcher						@c_green;
@define-color bg_stack_switcher_button				@c_yellow;
@define-color bg_stack_switcher_button_hover		@c_orange;
@define-color bg_stack_switcher_button_active		@c_red;

@define-color bg_shortcut_button					@c_teal;
@define-color bg_shortcut_button_hover				@c_teal_d;

@define-color bg_scrollbar							@c_cyan;
@define-color scrollbar_border						@c_lime;


#header_bar{
    background-color: @bg_header_bar;
	box-shadow: none;
}

#header_bar GtkLabel{
    color: @label_header_bar;
	text-shadow: none;
}


#popover_menu{
	background-color: @c_green;
	border-width: 5px;
	border-style: solid;
	border-color: @c_indigo;
}


#theme_submenu{
	background-color: @c_blue;
	border-width: 5px;
	border-style: solid;
	border-color: @c_red;
}

#theme_submenu .text-button{
	background-color: @c_yellow;
	border-width: 0px;
}

#theme_submenu .text-button:hover{
	background-color: @c_orange;
	border-width: 0px;
}

#theme_submenu .text-button:hover .label{
	color: @c_red;
	text-shadow: none;
}

/*#theme_submenu .text-button:active .label{*/
/*	color: @c_blue;*/
/*	text-shadow: none;*/
/*}*/

#checkbutton_theme_submenu .label{
	color: @c_teal;
	text-shadow: none;
}

#checkbutton_theme_submenu_active .label{
	color: @c_indigo;
	text-shadow: none;
}


#terminal_pane{
	background-color: @bg_terminal_pane;
}


#scrolled_window_stack_switcher{
	background-color: @c_cyan;
	border-width: 5px;
	border-style: solid;
	border-color: @c_indigo;
/*	outline-radius: 5px;*/
/*	-GtkRange-slider-width: 10px;*/
/*	-GtkScrolledWindow-scrollbar-spacing: 6px;*/
}

#scrolled_window_stack_switcher .scrollbar{
	background-image: none;
	background-color: @ff0000;
/*	box-shadow: none;*/
/*	border-width: 2px;*/
/*	border-style: solid;*/
/*	border-color: @c_black;*/
/*	color: @c_red;*/
	-GtkRange-slider-width: 10px;
	-GtkRange-stepper-size: 60px;
	padding: 0px;
	margin: 0px;
/*	-GtkRange-slider-border-color: #ffff00;*/
/*	-GtkRange-trough-border: 0;*/
/*	-GtkRange-trough-padding: 5px;*/
/*	-GtkRange-trough-margin: 5px;*/
}

/*#scrolled_window_stack_switcher .scrollbar:hover{*/
/*	background-image: none;*/
/*	-GtkRange-slider-width: 10px;*/
/*	-GtkRange-stepper-size: 60px;*/
/*}*/

#scrolled_window_stack_switcher .scrollbar .slider{
	background-color: #ff0000;
	-GtkRange-slider-width: 10px;
	-GtkRange-stepper-size: 60px;
	padding: 0px;
	margin: 0px;
}

#scrolled_window_stack_switcher .scrollbar .slider:hover{
	background-color: #ff2eed;
}

.overlay-indicator{
	background-color: transparent;
	border-width: 0px;
}

#stack_switcher{
	background-color: @bg_stack_switcher;
	box-shadow: none;
	border-width: 5px;
	border-style: solid;
}

#stack_switcher_button{
	background-color: @bg_stack_switcher_button;
	text-shadow: none;
	box-shadow: none;
	border-width: 5px;
	border-style: solid;
	border-color: @c_green;
	border-radius: 0px;
}

#stack_switcher_button:hover{
	background-color: @bg_stack_switcher_button_hover;
}

#stack_switcher_button_active{
	background-color: @bg_stack_switcher_button_active;
	text-shadow: none;
	box-shadow: none;
	border-width: 5px;
	border-style: solid;
	border-color: @c_green;
	border-radius: 0px;
}

#shortcut_box{
	background-color: @red;
/*	border-width: 5px;*/
/*	border-style: solid;*/
/*	border-color: @c_orange;*/
/*	border-radius: 0px;*/
}

#shortcut_box GtkButton{
	background-color: @bg_shortcut_button;
	box-shadow: none;
	border-width: 5px;
	border-style: solid;
	border-color: @c_orange;
	border-radius: 0px;
}

#shortcut_box GtkButton:hover{
	background-color: @bg_shortcut_button_hover;
	box-shadow: none;
}






