/*
	The colors are based on this palette: https://www.google.com/design/spec/style/color.html#color-color-palette
	Here is the list of abbreviations in the variables names:
	"c_" 	= "color"
	"_l" 	= "light"
	"_d" 	= "dark"
	"_a" 	= "accent"
	"bg_"	= "background"
	"fg_"	= "foreground"
	"_act" 	= "active"
	"_h"	= "hover"
	"_c" 	= "checked"
	
	These variables are defined from the python program:
	$asset_path
*/

$shortcut_button_min_width: 24px;
$shortcut_button_min_height: 24px;
$stack_switcher_button_min_width: 24px;
$stack_switcher_button_min_height: 24px;

#header_bar{
    background-color: $bg_header_bar;
    background-image: none;
	box-shadow: none;
	border-width: 0px;
	
	label{
		color: $label_header_bar;
		text-shadow: none;
	}
	
	button{
		background-color: $bg_menu_buttons;
		background-image: none;
		box-shadow: none;
		border-width: 1px;
		border-radius: 3px;
		border-color: $bg_menu_buttons;
		-gtk-icon-shadow: none;
		-gtk-icon-effect: none;
		
		label{
			color: $label_menu_buttons;
			text-shadow: none;		
		}
		
		&:hover{
			-gtk-icon-effect: dim;
		}
		
		&:active{
			background-color: $bg_menu_buttons_c;
			border-color: $bg_menu_buttons_c;
		}
		
		&:checked{
			background-color: $bg_menu_buttons_c;
			border-color: $bg_menu_buttons_c;
		}
	}
}



#popover_menu{
	background-color: $bg_popover_menu;
	border-width: 1px;
	border-radius: 3px;
	border-color: $bg_popover_menu;
	
	button{
		background-color: $bg_menu_buttons;
		background-image: none;
		box-shadow: none;
		border-width: 1px;
		border-radius: 3px;
		border-color: $bg_menu_buttons;
		-gtk-icon-shadow: none;
		-gtk-icon-effect: none;
		
		label{
			color: $label_menu_buttons;
			text-shadow: none;		
		}
		
		&:hover{
			background-color: $bg_menu_buttons_h;
			border-color: $bg_menu_buttons_h;
		}
		
		&:checked{
			background-color: $bg_menu_buttons_c;
			border-color: $bg_menu_buttons_c;
		}
	}
}



#theme_submenu{
	background-color: $bg_theme_submenu;
	border-width: 1px;
	border-radius: 3px;
	border-color: $bg_theme_submenu;
	
	checkbutton{
		background-color: $bg_theme_submenu;
		background-image: none;
		box-shadow: none;
		border-width: 0px;
		padding: 2px 4px;
		
		label{
			color: $label_theme_submenu;
			text-shadow: none;
		}
		
		check{
			background-color: $bg_check_theme_submenu;
			background-image: none;
			box-shadow: none;
			border-width: 1px;
			border-radius: 3px;
			border-color: $bg_check_theme_submenu;
			-gtk-icon-source: none;
			-gtk-icon-shadow: none;
			-gtk-icon-effect: none;
			animation: none;
			
			&:active{
				background-color: $bg_check_theme_submenu_act;
			}
	
			&:checked{
				-gtk-icon-source: -gtk-scaled(url($asset_path));
				animation: check_check 300ms;
				transition: 200ms linear;
			}
		}
		
		&:hover{
			background-color: $item_theme_submenu_h;
			border-width: 1px;
			border-radius: 3px;
			border-color: $item_theme_submenu_h;
			
			label{
				color: $label_theme_submenu_h;			
			}
		}
		
		&:active{
			label{
				color: $label_theme_submenu_act;			
			}
		}
		
		&:checked{
			label{
				color: $label_theme_submenu_act;		
			}
		}
	}
}

/*#checkbutton_theme_submenu .label{*/
/*	color: $label_theme_submenu;*/
/*	text-shadow: none;*/
/*}*/

/*#checkbutton_theme_submenu_active .label{*/
/*	color: $label_theme_submenu_act;*/
/*	text-shadow: none;*/
/*}*/

/*#checkbutton_theme_submenu.check{*/
/*	-gtk-icon-source: none;*/
/*	*/
/*	&:checked{*/
/*		-gtk-icon-source: -gtk-scaled(url($asset_path));		*/
/*	}*/
/*}*/



#terminal_pane{
	background-color: $bg_terminal_pane;
}

//Oh yeah !
scrolledwindow{
	overshoot{
		background-image: none;
	}
	
	undershoot{
		background-image: none;
	}
}

/*TODO*/
#scrolled_window_stack_switcher{
	border-width: 0px;
	
	scrollbar{
		background-image: none;
		background-color: transparent;
		border-width: 0px;
		padding: 0px;
		margin: 0px;

		slider{
			background-image: none;
			background-color: $bg_stack_switcher_scrollbar;
			border-width: 0px;
			padding: 0px;
			margin: 0px;
			-GtkRange-slider-min-width: 6px;
/*			-GtkRange-stepper-size: 0px;*/
			
			&:active{
				background-color: $bg_stack_switcher_scrollbar_act;
			}
		}
	}
}

.overlay-indicator{
	background-color: transparent;
	border-width: 0px;
}



#stack_switcher{
	background-color: $bg_stack_switcher;
	background-image: none;
	box-shadow: none;
	border-width: 0px;
}

#stack_switcher_button{
	background-color: $bg_stack_switcher_button;
	background-image: none;
	min-width: $stack_switcher_button_min_width;
	min-height: $stack_switcher_button_min_height;
	box-shadow: none;
	border-width: 0px;
	border-radius: 0px;
	-gtk-icon-shadow: none;
	-gtk-icon-effect: none;
	
	label{
		color: $label_stack_switcher_button;
		text-shadow: none;	
	}

	&:hover{
		background-color: $bg_stack_switcher_button_h;
		color: $label_stack_switcher_button_h;
	}
}

#stack_switcher_button_active{
	background-color: $bg_stack_switcher_button_act;
	background-image: none;
	min-width: $stack_switcher_button_min_width;
	min-height: $stack_switcher_button_min_height;
	box-shadow: none;
	border-width: 0px;
	border-radius: 0px;
	
	label{
		color: $label_stack_switcher_button_act;
		text-shadow: none;	
	}
}



#shortcut_box button{
	background-color: $bg_shortcut_button;
	background-image: none;
	min-width: $shortcut_button_min_width;
	min-height: $shortcut_button_min_height;
	box-shadow: none;
	border-width: 0px;
	border-radius: 0px;
	-gtk-icon-shadow: none;
	-gtk-icon-effect: none;
	animation: none;
	-gtk-icon-source: -gtk-scaled(url("go-top-symbolic"));
	
	&:hover{
/*		background-color: $bg_shortcut_button_h;*/
		animation: test-gradient 500ms linear infinite;
/*		animation-name: test-slide;*/
/*		animation-duration: 1000ms;*/
/*		animation-iteration-count: 1;*/
	}
}

/*@keyframes spin {*/
/*  to {*/
/*    -gtk-icon-transform: rotate(1turn); } }*/



@keyframes test-gradient{
	from{
		background-color: $bg_shortcut_button;
	}
	
	to{
		-gtk-icon-transform: rotate(1turn);
		background-color: $bg_shortcut_button_h;
	}
}





