$c_yellow: 			#ffeb3b;
$c_yellow_d:		#ffc107;
$c_orange: 			#ff9800;
$c_orange_d: 		#ff5722;
$c_red: 			#f44336;
$c_magenta:			#e91e63;
$c_purple:	 		#9c27b0;
$c_purple_d: 		#673ab7;
$c_indigo:	 		#3f51b5;
$c_blue: 			#2196f3;
$c_blue_l: 			#03a9f4;
$c_cyan: 			#00bcd4;
$c_teal: 			#009688;
$c_teal_d: 			#007668;
$c_green: 			#4caf50;
$c_green_d:			#388e3c;
$c_green_l:			#8bc34a;
$c_lime: 			#cddc39;
$c_black: 			#212121;
$c_black_l:			#424242;
$c_white:			#fafafa;
$c_white_green:		#f1f8e9;
$c_white_green_d:	#c5e1a5;

