$c_base03:		#002b36;
$c_base02:		#073642;
$c_base01:		#586e75;
$c_base00:		#657b83;
$c_base0:		#839496;
$c_base1:		#93a1a1;
$c_base2:		#eee8d5;
$c_base3:		#fdf6e3;
$c_yellow:		#b58900;
$c_orange:		#cb4b16;
$c_red:			#dc322f;
$c_magenta:		#d33682;
$c_violet:		#6c71c4;
$c_blue:		#268bd2;
$c_cyan:		#2aa198;
$c_green:		#859900;
$c_black:		#000000;
$c_white:		#ffffff;
